<nz-layout>

  <nz-layout>
    
    <nz-header>
      <div class="header-container">
        <div class="logo-container flex items-center">
          <img src="assets/img/icon.png" alt="logo" class="logo w-8 h-8 mr-2" />
          <h1 class="text-lg font-semibold text-white">CKB Nodes Distribution</h1>
        </div>
        <span class="totalnodes">Currently Online Nodes: {{ totalNodes }} nodes</span>
        <div class="button-container flex items-center ml-auto">
          <button nz-button [nzType]="network === 'mirana' ? 'primary' : 'default'" (click)="changeNetwork('mirana')" class="network-button">Mirana</button>
          <button nz-button [nzType]="network === 'pudge' ? 'primary' : 'default'" (click)="changeNetwork('pudge')" class="network-button">Pudge</button>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <nz-table [nzData]="(peers$ | async) || []" [nzPageSize]="pageSize" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th>IP</th>
            <th>Version</th>
            <th>Last Seen</th>
            <th>Country/Region</th>
            <th>City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let peer of peers$ | async">
            <td nz-tooltip [nzTooltipTitle]="peer.address">{{ peer.ip }}</td>
            <td>{{ peer.version }}</td>
            <td>{{ peer.last_seen.secs_since_epoch | timeElapsed}}</td>
            <td>
              <span *ngIf="peer.country" class="fi fi-{{peer.country.toLowerCase()}}"></span>
              {{ peer.country ? peer.country : '-' }}
            </td>
            <td>{{ peer.city }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-content>
    <nz-footer>
      Copyright&copy;2023 Nervos Foundation.
      All Rights Reserved.
    </nz-footer>
  </nz-layout>
</nz-layout>
